[submodule "source/Utils"]
	path = source/Utils
	url = https://github.com/CookiePLMonster/ModUtils.git
[submodule "source/minhook"]
	path = source/minhook
	url = https://github.com/TsudaKageyu/minhook
